/* navigation Links */

#enquiries_link {
    float: right;
}

#gallery_link {
    text-align: center;
    list-style-type: none;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 0px;
}

#menu a {
    text-decoration: none;
    color: green;

}

#menu a:hover {
    border-bottom: solid 1px;
}

.active {
    border-bottom: solid 1px;
}

/* Logo */

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: -1%;
  border: 0px;
}

/* Company Name Header */

#company_name  
{
   font-family: candara sans-serif;
   color: rgb(14, 130, 45);
   text-align: center;
   font-size: 200%;
   font-style: oblique;

}