/* navigation list positioning */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin-bottom: 1%;
    font-size: 120%;
    letter-spacing: 4px;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: -30px;
}

/* menu styling */

#menu a {
    text-decoration: none;
    color: green;
    font-size: larger;
}

#menu a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    font-weight: bold;
}

.active {
    border-bottom: solid 1px;
}


/*    Container enquiry link */

#enquiries_link {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color: white;
}

/*    Header and Logo positioning   */

header div {
    display: flex;
    justify-content: center;
}

/* Logo */

#logo {
    width: 90%;
    margin-top: -1%;
    border: 0px;
    height: 40px;
    padding: 0;
}

/*    Image sizing  */

img {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

/* Company Name Header */

#company_name {
    font-family: "candara", "sans-serif";
    color: rgb(14, 130, 45);
    text-align: center;
    font-size: 200%;
    font-style: oblique;
    height: 30px;
    margin-top: 0;
    width: auto;
}

#company_name a:link {
    text-decoration: none;
    color: rgb(14, 130, 45);
}

#company_name a:visited {
    text-decoration: none;
    color: rgb(14, 130, 45);
}


/*    Home Page Container and text block   */

#homepage_container {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -30px;
}

#homepage_textblock {
    font-size: 120%;
    font-family: "candara", "sans-serif";
    letter-spacing: 4px;
    text-align: center;
    width: 600px;
    height: 200px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 1px;
    background-color: rgba(10, 109, 38, 0.7);
    bottom: 120px;
    right: 400px;
    position: absolute;

    animation-name: spin;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*   Adds a spin animation to the text block in container  */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*  Styling for header in text block  */

#homepage_textblock h2 {
    width: auto;
    margin: 2%;
    color: white;
}

/*   Key background image on home page  */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/Fairway.jpeg') no-repeat center center;
    margin-bottom: 50%;

    /* Animates zoom effect on main home page image */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.4);
    }
}


/*  Enquiry form container, labels and input section  */

/* Style inputs, select elements and textareas */
input[type=email] {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=text],
select,
textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: azure;
    font-weight: bold;
}

/* Style the submit button */

input[type=submit] {
    background-color: rgb(11, 93, 38);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: rgb(13, 176, 13);
}


/* Style the  enquiry form container */

.container {
    width: 75%;
    border-radius: 5px;
    background-color: rgba(10, 109, 38, 0.7);
    padding: 20px;
    margin: auto;
    margin-top: -20px;
}

.container h2 {
    text-align: center;
    color: azure;
    margin-top: 10px;
}

.container img {
    display: block;
    height: 150px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Centering the Submit button on enquiry form */

.row_centre_button {
    text-align: center;
}


/* Popular destinations styling, headings and sections */

#destinations {
    font-family: candara, sans-serif;
    font-style: oblique;
}

#popular {
    font-family: "candara", "sans-serif";
    color: rgb(14, 130, 45);
    text-align: center;
    font-size: 200%;
    font-style: oblique;
}

#destinations #portugal {

    background-image: url('../images/Course1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 33%;
    overflow: hidden;
    float: left;
    color: red;
}

#destinations #spain {

    background-image: url('../images/Spain_course.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 34%;
    overflow: hidden;
    color: yellow;

}

#destinations #ireland {

    background-image: url('../images/Course3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 33%;
    overflow: hidden;
    float: right;
    color: green;

}

#destinations div {
    color: #fafafa;
    width: 50%;
    height: 250px;
    float: left;
    padding: 30px 30px 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* Footer dimensions */

footer {
    width: auto;
    height: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
}

/* Social media links */

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgb(14, 130, 45);
}

/* Circle shadow animation on social links */

i:hover {
    border-radius: 50%;
    box-shadow: 0 0 50px #ccc;
}

h3 {
    padding-bottom: 0px;
    text-align: center;
    font-family: "candara", "sans-serif";
}

/* Styling and layout for photos on gallery page */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    overflow: hidden;
    margin-top: -25px;
}

#photos>img {
    width: 100%;
    height: 400px;
    width: 500px;
    border: 6px solid white;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(14, 130, 45);
    position: relative;
    line-height: 2;
    text-align: left;
}

/* Setting paragraph styling for all pages */

p {
    text-align: center;
    color: azure;
    font-size: large;
    line-height: 2rem;
    font-family: Georgia, 'Times New Roman', "Times, serif";
}

/*   About us main container, textblock and header  */

#aboutus_container {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -30px;
}


#aboutus_textblock {
    font-size: 120%;
    font-family: "candara", "sans-serif";
    letter-spacing: 4px;
    text-align: center;
    width: 700px;
    height: 200px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 1px;
    background-color: rgba(10, 109, 38, 0.7);
    bottom: 120px;
    right: 300px;
    position: absolute;

}


#aboutus_textblock h2 {
    width: auto;
    margin: 2%;
    color: white;
    animation: flip 3s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

#aboutus-image {
    height: 500px;
    width: 100%;
    background: url('../images/About_us_image.jpeg') no-repeat center center;
    margin-bottom: 50%;
}

/* Styling and positioning the review sections on about us page */


.review {
    display: flex;
    justify-content: center;
    font-family: candara, sans-serif;
    font-style: oblique;
    color: azure;
    background-color: rgba(10, 109, 38, 0.7);
    margin: 2px;
    border: 6px solid white;
    margin: auto;
    font-weight: bold;
}

.review div {
    height: auto;
    width: auto;
    text-align: center;
    border: 3px solid white;
    box-sizing: border-box;
    font-size: large;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}



footer>ul {
    margin: 0px;
    height: 150%
}

/* Enquiry Thank you page */

.container_enquiry {
    width: 50%;
    border-radius: 5px;
    background-color: rgba(10, 109, 38, 0.7);
    padding: 20px;
    margin: auto;
    margin-bottom: 150px;
}

#enquiry_message {
    text-align: center;
    color: white;
    line-height: 2.5;
}


/*  Settings for elements and sections to be responsive */

@media screen and (max-width: 950px) {


    /* Shift menu items to the left on resize*/

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: small;
    }

    #h4 {
        position: fixed;
    }

    /* Widening the destination section of smaller screens to allow for stacking */

    #destinations #portugal {
        width: 100%;
    }

    #destinations #spain {
        width: 100%;
    }

    #destinations #ireland {
        width: 100%;
    }

    /* Putting the review sections into a column on smaller resize of screens */

    .review {
        flex-direction: column;
        height: auto;
    }

    .review div {
        height: auto;
    }

    /* Main seciton on about us page to change size to fit content */

    #about_us_main {
        height: auto;
    }

    #about_us_main p {
        font-size: 90%;
        margin-top: 0px;
    }

    #about_us_main #h2 {
        text-align: center;
        width: auto;
        margin: 0%;
    }

    /* On smaller screens style the about us and homepage and inner textblock to be visually acceptable */

    #homepage_textblock {
        width: 50%;
        height: auto;
        left: 90px;
        margin-bottom: 10px;
    }

    #aboutus_textblock {
        width: 50%;
        height: auto;
        left: 90px;
    }


    .form_container {
        width: auto;
        height: auto;

    }

    /* Change the photo layout to 2 columns of smaller screen */

    #photos {
        column-count: 2;
    }

}

/* for small screen sizes - 800px or smaller */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 1;
    }

    #h4 {
        position: fixed;
    }
}

/* for small screen sizes - 500px or smaller */
@media screen and (max-width: 500px) {

    /*  On smaller screens, have the menu options stack */

    nav {

        display: flex;
        justify-content: center;
        margin-right: 40px;

    }

    nav li {
        vertical-align: middle;
        display: flex;
        margin: auto;
        justify-content: center;
    }

    /* Change the photo layout to 1 column on smaller screen size */

    #photos {
        column-count: 1;
    }

    /* On smaller screens style the about us and homepage and inner textblock to be visually acceptable */

    #homepage_container {
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 10px;
    }

    #homepage_textblock {
        width: 50%;
        height: auto;
        left: 90px;
        margin-top: 20px;
    }

    #aboutus_textblock {
        width: 50%;
        height: auto;
        left: 90px;
        bottom: 80px;
    }

    /* Enquiry form labels and input fields styling and sizing on smaller screens */

    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }

    .container img {
        display: block;
        height: 100px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }


}