

/* navigation Links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: -30px;
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: green;
    font-size: larger;
}

#menu a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    font-weight: bold;

}

#enquiries_link {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color:white;
}

/*#gallery_link {
    float: left;
    margin-right: 30px;
    padding-left: 250px;
}

#home_link {

    float: left;
    margin-right: 30px;
    padding-left: 300px;
}

#about_us_link {
    padding-left: 195px;
} */

.active {
    border-bottom: solid 1px;
}

h2 {
    width: auto;
    margin: 2%;
    color: white;
}

header div {
    text-align:center;
    vertical-align:middle;
}

/* Logo */

#logo {
    vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: -1%;
  border: 0px;
  height: 60px;
  padding: 0;
}

img {
    padding:0px;
    border:0px;
    margin:0px;
}

/* Company Name Header */

#company_name
{
   font-family: "candara", "sans-serif";
   color: rgb(14, 130, 45);
   text-align: center;
   font-size: 200%;
   font-style: oblique;
   height: 30px;
   margin-top: 0;

}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;

    margin-top: -10px;
}


#about_us_main {
    height: 300px;
    width: 100%;
    background-color: rgb(108, 168, 19);
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}

#enquiries_hero {
    height: 80%;
    width: auto;
    background: url('../images/enquiries_image.jpeg') no-repeat center center;
    margin-bottom: 50%;
    object-fit: cover;
    filter: blur(8px);
}





#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/Fairway.jpeg') no-repeat center center;
    margin-bottom: 50%;

    /* Animates zoom effect on landing page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

.form_style {
font-family: "Verdana", "sans-serif";
box-sizing: border-box;
}

.form_container {
    border-radius: 5px;
    background: url('../images/enquiries_image.jpeg') no-repeat center center;
    padding: 20px;
    font-family: 'Times New Roman', "sans-serif";
    font-weight: bold;
    color: white;
    text-align: center;
    width:auto;
  }

  .form_container p {
    float: left;
    margin: 0;
    padding: 0;
  }

label {
    display: inline-block;
    width: 140px;
    text-align: right;
  }

  input[type=text], select, textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    vertical-align: middle;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin-left: 140px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

#front-text, #front-text h2 {
    color: #fff;
}

#front-text {
    font-size: 120%;
    font-family: "candara", "sans-serif";
    letter-spacing: 4px;
    text-align: center;

    width: 600px;
    height: 190px;

    padding-top: 5px ;
    padding-left: 5px;
    padding-right: 1px;

    background-color: rgba(10, 109, 38, 0.7);

    bottom: 120px;
    right: 400px;

    position: absolute;

}
/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
     transform: scale(1);
 
    }
    
     to {
         transform: scale(1.3);
     }
 }

 /* Popular destinations */ 

 #destinations {
    font-family: candara, sans-serif;
    font-style: oblique;
 }

 #popular {
    font-family: "candara", "sans-serif";
    color: rgb(14, 130, 45);
    text-align: center;
    font-size: 200%;
    font-style: oblique;
 }

 #destinations #portugal {

    background-image: url('../images/Course1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 33%;
    overflow: hidden;
    float: left;
}

#destinations #spain {

    background-image: url('../images/Spain_course.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 34%;
    overflow: hidden;
    
}

#destinations #ireland {

    background-image: url('../images/Course3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 33%;
    overflow: hidden;
    float: right;
    
}



#destinations div {
    color: #fafafa;
    width: 50%;
    height: 250px;
    float: left;
    padding: 30px 30px 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

footer {
    width: auto;
    height: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.social-links {
    
    text-align: center;

}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgb(14, 130, 45);

}

h3 {
    padding-bottom: 0px;
    text-align: center;
    font-family: "candara", "sans-serif";
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    overflow: hidden;
    }
    
#photos > img {
        width: 100%;
    }

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(14, 130, 45);
    position: relative;
    /*top: -10px;
    left: 30px; */
    line-height: 2;
    text-align: left;
}

p {
    text-align:center;
    color: azure;
    font-size: large;
    line-height: 2rem;
    font-family:Georgia, 'Times New Roman', "Times, serif";
}

#review div {
    height: 250px;
    float: left;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    font-size: large;
}

#review {
    font-family: candara, sans-serif;
    font-style: oblique;
    color:azure;
}


#review_left {
    width: 33%;
    overflow: hidden;
    float: left;
    background-color:darkseagreen;
}

#review_centre {
    width: 34%;
    overflow: hidden;
    background-color:darkseagreen;
}

#review_right {
    width: 33%;
    overflow: hidden;
    float: right;
    background-color:darkseagreen;
}

footer > ul {
    margin: 0px;
    height: 150%
}

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #h4 {
        position: fixed;
    }

    #front-text {
        left: 0;
    }


    #photos {
        column-count: 3;
    }

}

/* for small screen sizes - 800px or smaller */
    @media screen and (max-width: 800px) {
        #photos {
            column-count: 2;
        }
        #h4 {
            position: fixed;
        }
    }



